export(addmissing)
export(alm)
export(almdatepub)
export(almdateupdated)
export(almevents)
export(almplot)
export(almpubmedcentid)
export(almpubmedid)
export(almtitle)
export(almtotals)
export(almupdated)
export(concat_todf)
export(getkey)
import(RCurl)
import(RJSONIO)
import(XML)
import(ggplot2)
import(grid)
import(gridExtra)
import(plyr)
import(reshape)
